
<h2>About Me</h2>
<h3>Who am I?</h3>

<div class='text-area'>

    <p>I'm Ryan Chipman, a Computer Science student attending the Massachusetts Institute of Technology in Cambridge, Massachusetts. I plan to graduate in the spring of 2016, but in the meantime I have a lot to explore, practice, and learn, both in and outside of the classroom. I pride myself on being a naturally curious, hands-on learner.</p>

    <p>I am passionate about free software, an open internet, and the open-source community. I believe that the paradigms shaping modern software development and consumption can and should be critically evaluated and challenged. I make a conscious effort to support free and open-source software products by using them in my daily life and work as much as possible.</p>

    <p>I am both a hacker and an architect. I enjoy not only the hours spent cobbling together a quick prototype or proof of concept, but also those spent meticulously planning, designing, and documenting a carefully constructed system. I believe that there is much to be learned from both kinds of undertakings.</p>

    <p>I am a clear, concise, and effective communicator. I think that the practice of explaining complex systems and concepts in an accessible way is undervalued, and I try to ensure that all my work is guided by a clear articulation of the "why" and the "how".</p>

    <p>When I take time to relax, I am an avid musician and outdoorsman. I am a self-taught guitarist, and sing with the MIT Logarhythms. I earned my Eagle Scout with Troop 80 of Norfolk, MA, and still love to travel north to the white mountains for weekend backpacking trips. Nowadays, whenever I'm not working (and often when I still am!), my weekends are spent with the Logs and with <a href='http://sarahsullivan.com' target='_blank'>Sarah Sullivan</a> down at the <a href='http://risd.edu' target='_blank'>Rhode Island School of Design</a>.</p>

</div>
