
<h2>What I Do</h2>

<div class="text-area">
  <p>Over the past few years, I have undertaken a number of major projects as part of my coursework at MIT and as an intern at Bloomberg and MongoDB. If you want to see my work, my hacking &amp; experimentation, or are curious about what I'm working on now, head on over to github and check out <a href='http://github.com/rychipman' target='_blank'>my repos</a>.</p>
</div>

<div class="work-grid">
  <div class="work-thumb">
    <img src="/assets/img/menyou.png"/>
  </div>
  <div class="work-thumb">
    <img src="/assets/img/chef.png"/>
  </div>
  <div class="work-thumb">
    <img src="/assets/img/bloomberg.png"/>
  </div>
  <div class="work-thumb">
    <img src="/assets/img/mongodb.png"/>
  </div>
</div>
