html
    height 100%

body
    //edit()
    font-family "Open Sans"
    padding 0
    margin 0
    height 100%
    background-color $dark

.homepage-section
    cf()
    width 100%
    text-align center
    padding 6rem 0 6rem 0
    &#home
        padding-top 0
        padding-bottom 0
        min-height 100%
    &#contact
        padding-bottom 0

.dark
    background-color $dark
    h1, h2, h4
        color $light
    h3, p, i
        color $text-on-dark

.light
    background-color $light
    h1, h2, h4
        color $dark
    h3, p, i
        color $text-on-light

.text-area
    center()
    max-width 46rem
    padding 0 3rem 0 3rem
    p
        text-align justify
        text-align-last left
        &.short
            text-align center
            text-align-last center

.work-grid
    max-width 60rem
    margin 0 auto 0 auto
    .work-thumb
        box-sizing border-box
        span(1/2, cycle: 2)
        padding 6px
        img
            width 100%
            border 2px solid $accent
            vertical-align topcontent '\A'
