
footer
    center()
    text-align center
    background-color $dark
    h1, h2, h4
        color $light
    h3, p, i
        color $text-on-dark
    .icons
        a
            &:hover
                text-decoration none
        i
            margin 0 1.5rem 1rem 1.5rem
            &:hover
                color $accent
    .copyright
        font-size .9rem
