
a
    color $accent
    text-decoration none
    &:visited
        color $accent
    &:hover
        color $accent
        text-decoration underline

h1
    font-size 6rem
    line-height 6rem
    font-weight 700
    col(1)
    text-align center
    margin 2rem 0 2rem 0

h2
    font-size 3rem
    line-height 3rem
    font-weight 800
    text-align center
    margin 0 0 1rem 0

h3
    font-size 2rem
    line-height 2rem
    font-weight 300
    text-align center
    margin 1rem 0 2rem 0

h4
    font-size 1.5rem
    line-height 1.5rem
    font-weight 600
    text-align left
    margin 0 0 0 0

p
    font-size 1.00rem
    line-height 2rem
    margin 0 0 1.5rem 0

a.button
    display inline-block
    border none
    padding 1rem 1.6rem 1rem 1.6rem
    margin 3rem auto 0 auto
    background-color $accent
    font-weight 400
    color $light
    font-size 1.3rem
    &:hover
        text-decoration none
        background-color $accent-dark
