
// Colors

$light = #ffffff
$text-on-light = #555555

$dark = #252525
$text-on-dark = #888888

$accent = #2ecd71
$accent-dark = #24a35a

// Sizes

$header-width = 15rem

// Breakpoints

html
  font-size 16px
  +below(900px)
    font-size 12px
  +below(450px)
    font-size 8px
  +below(360px)
    font-size 6px
