
<footer>

    <div class='icons'>
        <a href='http://github.com/rychipman' target="_blank">
            <i class='fa fa-github fa-2x'></i>
        </a>
        <a href='http://linkedin.com/in/rchipman' target='_blank'>
            <i class='fa fa-linkedin fa-2x'></i>
        </a>
        <a href='mailto:ryan@ryanchipman.com' target='_blank'>
            <i class='fa fa-envelope fa-2x'></i>
        </a>
        <a href='#508.838.8902' target='_blank'>
            <i class='fa fa-phone fa-2x'></i>
        </a>
    </div>

    <p class='copyright'>2016 | Designed &amp; Built by Ryan Chipman</p>

</footer>
