
<h2>Designing Systems</h2>
<h3>What does that mean?</h3>

<div class="text-area">

    <p>As computer science continues to become a more popular career path, there is an increasingly large body of terminology used to refer to those of us who have chosen it &mdash; developers, hackers, programmers, coders. All these names describe <em>what</em> one does. I choose to call myself an engineer, because it describes <em>how</em> I do it.</p>

    <p>From the largest corporate-scale applications to small weekend projects to things as seemingly simple as documentation, everything we create is a system, a set of connected pieces that work together to accomplish a goal. Whether that goal is to solve a difficult technical problem or simply to present an idea, designing a successful system requires effective use of planning, communication, abstraction, modularity, and a willingness to constantly reevaluate one's work with a critical eye.</p>

    <p>These are the principles and methodologies that I use to guide my work. </p>

</div>
